@import "tailwindcss";

@theme {
  --color-primary: #2563eb;
  --color-secondary: #10b981;
  --color-accent: #06b6d4;
  
  --font-family-sans: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif;
}

/* Утилиты для line-clamp */
@utility line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}